{{ define "content" }}
<h2 class="mb-4 font-weight-bold">List of users</h2>
<div class="card">
    <div class="card-header">
            <a href="/users/add" class="btn btn-info font-weight-bold">
                <i class="fa fa-plus mr-2"></i>Add new user
            </a>
        </div>
        <div class="card-body">
            <table class="table mb-4">
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Occupation</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .users }}
                        <tr>
                            <td><img src="{{ .AvatarFileName }}" class="img-fluid" alt="{{ .Name }}"></td>
                            <td>{{ .Name }}</td>
                            <td>{{ .Email }}</td>
                            <td>{{ .Occupation }}</td>
                            <td>
                                <form action="/users/delete/{{ .ID }}" method="post">
                                    <a href="/users/edit/{{ .ID }}" class="btn btn-sm btn-warning">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>

{{ end }}